@font-face {
    font-family: "Roboto";
    src: url(./RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: "OpenSans";
    src: url(./OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans500";
    src: url(./OpenSans-Medium.ttf);
}

@font-face {
    font-family: "OpenSans600";
    src: url(./OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: "OpenSans700";
    src: url(./OpenSans-Bold.ttf);
}